
*{
    background-color: antiquewhite;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}

html, body{
    height: 100%;

}

.dropdown{
    
    margin: 1rem;
    position: relative;
}

.dropdown button{
    
    background: white;
    font-size: 2rem;
    padding: 2rem;

}

li{

    padding: 1rem;
    background-color: aqua;
    width: fit-content;
    
}

ul{

    background: none;
    position: absolute;
    top: 7rem;
    left: 0.5rem;
    visibility: hidden;

}

.carousel{

    width: 50%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.carousel button{
    
    font-size: 2rem;
}
#screen{
    
    width: 100%;
     
    
}
.image-container{

    width: 100%;
    border: 1px solid firebrick;
}

img{

    overflow: hidden;
    max-width: 100%;
    max-height: 100%;

}

#shown{
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    width: fit-content;
    top: 500px;
    left: 43%;
    justify-content: center;
    align-items: center;
}

#shown span{

    font-size: 5rem;
    background-color: inherit;
    
}


